body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    float: left;
}
.logo img {
    width: 45px;
    height: 80px;
}
nav{
    padding-top: 20px;
    display: inline-block;
    float: right;
    margin-bottom: 30px;
}
button{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0);
    padding: 10px 30px;
    border-style: none;
    text-decoration: none;
    color: white;
    background-color: #AD6DAA;
}
a{
  text-decoration: none;
  color: white;
}
header{
    width: 100%;
}
nav ul {list-style: none; padding: 0 ;
}
nav ul li {display: inline; padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
}
.clear-floats { clear: both; }
h1 {
    font-size: 6em;
    color: #FFFFFF;
  }
h2 {
    font-size: 4em;
    color: white;
  }
  h3 {
    font-size: 3em;
    color: #AD6DAA;
  }
  h4{
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
  h5{
    font-size: 1em;
    color: black;
    font-weight: lighter;
  }
  .home-1 {
    height: 500px;
    background-image: url("../Images/Backgground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .home-1-heading {
    width: 60vw;
    z-index: 1;
  }
  .project1{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    
  }
  .image div{
    display: inline-block;
    width: 49%;
    padding: 5px;
    height: 500px;
    margin-bottom: 20px;
}
  .contact-1{
    height: 500px;
    background-color: #662563;
    display: flex;
    padding-left: 100px;
  }
  .contact-1-heading{
    font-family: sans-serif;
    align-items: left;
    justify-content: left;
    display: inline-block;
  }
  .contact-image{
    background-image: url("../Images/Contact.jpg");
    display: inline-block;
  }
  footer{
    height: 200px;
    width: 100%;
    background-color: rgb(102, 37, 99);
    font-family: sans-serif;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  footer ul{
    background-color: #AD6DAA;
    display: flex;
    justify-content: space-around;
  }
  .overlay{
    background-color: rgba(102, 37, 99, .90);
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 0;
  }
  .project1{
    background-image: url("../Images/HealingArc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .project2{
    background-image: url("../Images/OCH\ Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
